body
{
	background-color: #e6fff2;
}
.h1{
background-color:#6688ff;
padding-bottom:20px;
margin:0px;
padding:0px;
}
.text{
margin:0px;
padding:0px;
background-color:#b8cae0;
padding-bottom:20px;
}
.p{
	margin:0px;
	padding:0px;
	background-color: #e6fff2;
	padding-bottom:20px;
}
.still{
	margin:0px;
	padding:0px;
	background-color:#b8cae0;
	padding-bottom:20px;
}
div{
	background-color:#e6fff2;
}